<div class="new-player-container">
  <h4 mat-dialog-title>{{ data.team.name }}</h4>
  <mat-form-field>
    <input type="text" [(ngModel)]="data.player.first" matInput placeholder="First name">
  </mat-form-field>
  <mat-form-field>
    <input type="text" [(ngModel)]="data.player.last" matInput placeholder="Last name">
  </mat-form-field>
  <mat-form-field>
    <input type="number" [(ngModel)]="data.player.age" matInput placeholder="Age">
  </mat-form-field>
  <mat-form-field>
    <mat-select [(ngModel)]="data.teamLevel" placeholder="Level">
      <mat-option [value]="0">Flag</mat-option>
      <mat-option [value]="1">Freshman</mat-option>
      <mat-option [value]="2">Jr. Varsity</mat-option>
      <mat-option [value]="3">Varsity</mat-option>
      <mat-option [value]="4">Cheer</mat-option>
    </mat-select>
  </mat-form-field>
  <input type="file" (change)="pictureAdded($event)" accept="image/*" placeholder="image">
  <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Close</button>
      <button mat-button [mat-dialog-close]="data" color="primary" [disabled]="!data.player.image || !data.player.first.length > 0 || !data.player.last.length > 0 || !data.player.age != 0">Save</button>
    </mat-dialog-actions>
</div>